@import '../../assets/styles/base';

.ScenarioCard {
  font-size: 18px;
  max-width: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .scenario-content {
    padding-bottom: 0;

    .scenario-text {
      margin-top: 0;
      padding: 5px;
    }

    .scrollbar {
      height: 300px !important;
    }

    .responses {
      justify-content: center;
      margin: 8px 0;
      padding: 10px 18px 5px;
  
      :last-child {
        margin-bottom: 0;
      }
    }

    .see-more-button {
      color: $primary-color;
      float: right;
    }
  }

  .add-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .MuiIconButton-label {
      color: $primary-color;
    }
  }

  .add-form-divider {
    margin: 10px 0;
  }

  .add-form-fields {
    margin: 10px;

    .add-form-field {
      width: 100%;
      margin: 5px;
    }
  }

  .add-form-buttons {
    display: flex;
    justify-content: flex-end;

    .MuiButton-root {
      color: $primary-color;
    }
  }
}