@import '../../assets/styles/base';

.ResponseCard {
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  
  div.response-content {
    padding: 0 16px;
    display: flex;
    flex-direction: column;

    .response-metadata {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .date {
        color: slategray;
      }
    }
  }

  .response-actions {
    border-top: 1px solid lightgray;
    padding: 0;
    justify-content: space-between;

    .liked-button {
      color: $secondary-color;
    }

    .likes-number {
      font-size: 16px;
      margin-left: 5px;
    }
  }
}

.report-dialog {
  .confirm-report-button {
    color: $primary-color;
  }

  .cancel-report-button {
    color: $secondary-color;
  }
}