@import '../../assets/styles/base';

.ContactUsDialog {
  .dialog-title {
    color: $purple3;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .contact-form-fields {
      margin: 10px;
  
      .contact-form-field {
        width: 100%;
        margin: 5px;
      }
    }
  }
}
