.Home {
    .intro-text {
        .intro-header {
            font-size: 26px;
            text-align: center;
            margin-top: 0;
        }

        .intro-paragraph {
            font-size: 20px;
            margin: 0 18%;
        }
    }
}