.Home {
    .intro-text {
        .intro-header {
            font-size: 24px;
            text-align: center;
            margin-top: 0;
        }

        .intro-paragraph {
            font-size: 18px;
        }
    }
}