@import '../../assets/styles/base';

.Home {
    .home-copy {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(180deg, $gradient-start 0%, $gradient-end 100%);
        height: 90vh;
        padding: 0 32px 15vh;

        @include md {
            align-items: flex-start;
            padding: 0 80px;
        }

        @include lg {
            padding: 0 120px;
        }

        .desktop-ill {
            height: 100%;
            padding-bottom: 10vh;
            display: none;

            @include md {
                display: flex;
            }
        }

        .intro {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $charcoal4;

            @include md {
                width: 40vw;
                height: 100%;
                padding-bottom: 10vh;
            }
    
            #intro-2 {
                font-weight: 600;
                margin: 25px 0;
                font-size: 39px;
                line-height: 49px;
                letter-spacing: -0.5px;

                @include md {
                    font-size: 65px;
                    line-height: 80px;
                }
            }
    
            #intro-3 {
                margin-top: 20px;
                font-size: 16px;
                line-height: 150%;

                @include md {
                    font-size: 20px;
                }
            }
    
            .purp {
                color: $purple2;
            }
    
            .share-cta {
                position: fixed;
                right: 20px;
                bottom: 20px;
                background-color: $teal2;
                padding: 16px 20px;
                border-radius: 100px;
                z-index: 99;
    
                border: 1px solid $teal3;
                box-sizing: border-box;
                box-shadow: 0px 4px 12px rgba(186, 199, 213, 0.5);
    
                @include lg {
                    right: 50px;
                    bottom: 50px;
                }
    
                .MuiButton-label {
                    color: $charcoal4;
                    font-weight: 600;
                    font-size: 16px;
                }

                &:hover {
                    background-color: $teal3;
                }
            }
        }
    }
}