@import '../../assets/styles/base';

.Home {
    width: 100%;

    .intro {
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        #intro-1 {
            margin-top: 20vh;
            font-weight: bold;
        }

        #intro-2 {
            margin: 30px 20px;
        }

        #intro-3 {
            margin: 0 20px;
            max-width: 600px;
        }

        .share-cta {
            position: fixed;
            right: 20px;
            bottom: 20px;
            background-color: #004D78;
            padding: 16px;
            border-radius: 100px;

            @include lg {
                right: 50px;
                bottom: 50px;
            }

            .MuiButton-label {
                color: white;
            }
        }
    }
}