@import '../../assets/styles/base';

.AddPostDialog {

  .MuiDialog-paper {
    border-radius: 16px;
    width: 90%;
    margin: 0;
    max-height: none;
  }

  .dialog {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .dialog-top {
      display: flex;
      justify-content: flex-end;

      .modal-title {
        width: 100%;
        align-self: center;
        margin-left: 59px;
        color: $purple3;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.05em;
        font-weight: bold;
      }
    }

    .add-scenario-form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .add-form-fields {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        #multiline {
          height: 30vh !important;
          overflow: scroll !important;

          @include max-md-height {
            height: 25vh !important;
          }

          @include max-sm-height {
            height: 20vh !important;
          }
        }

        #display-name-helper {
          margin-left: 2px;
        }

        #char-count {
          position: relative;
          bottom: 25px;
          right: 8px;
          text-align: right;
        }

        #multiline-parent {
          margin-bottom: 0;
        }

        .add-form-field{
          width: 90%;
          margin-bottom: 20px;

          @include max-md-height {
            margin-bottom: 15px;
          }

          .MuiOutlinedInput-notchedOutline:focus {
            border-color: $purple3;
          }

          .MuiFormLabel-root.Mui-focused {
            color: $purple3;
            font-weight: 600;
          }

          .MuiOutlinedInput-notchedOutline:hover {
            border-color: black;
          }
        }
      }

      .submit-button {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: $purple3;
        padding: 10px;
        font-weight: 600;

        &.not-valid {
          background-color: $grey4;
          
          .MuiButton-label {
            color: $charcoal2;
          }
        }
        
        .MuiButton-label {
          font-size: 1rem;
          color: white;
        }
      }

      .loader {
        font-size: 1rem;
        margin: 10px auto;
      }
    }
  }

  .red {
    color: #CC2900;

    #multiline-label {
      color: #CC2900;
    }

    fieldset.MuiOutlinedInput-notchedOutline {
      border-color: #CC2900 !important;
    }
  }
}
