@import '../../assets/styles/base';

.CardDisplay {
  padding: 16px;
  background-color: $secondary-color;
  min-height: 90vh;

  .skeleton {
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .infinite-scroll {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .loader {
      font-size: 3rem;
      margin: 50px auto;
    }
  }
}