@import '../../assets/styles/base';

.ScenarioCard {
  width: 100%;
  max-width: 792px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 30px;
  background-color: white;

  &.solo {
    border-radius: 16px;
    margin: 16px auto;
    height: initial;
    padding-bottom: 10px;

    @include max-md-width {
      overflow: scroll;
      border-radius: 0;
      margin: 0;
      padding-bottom: 20px;
      height: 100vh;

      .scenario-content {
        padding-bottom: 20px;
  
        .actions {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          border-radius: 0;
          box-shadow: 0px -1px 4px rgba(70, 83, 89, 0.08);
          border-top: 1px solid $grey4;
          border-bottom: 1px solid $grey4;
          border-left: 0;
          border-right: 0;
    
          .action-line {
            border: 1px solid $grey4;
            height: 100%;
          }
        }
      }
  
      .response-content {
        padding-top: 0;
      }
  
      .empty-responses {
        margin-top: 0;
      }
    }
  }

  .scenario-content {
    background-color: $purple3;
    color: white;
    padding: 0 20px 40px 20px;
    position: relative;

    .scenario-top {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;

      .metadata {
        .header {
          font-weight: 600;
        }

        .back-button {
          margin-bottom: 10px;
        }
      }

      .MuiButtonBase-root {
        padding: 0;
      }
    }

    .scenario-mid {
      margin-bottom: 10px;
      white-space: pre-line;

      .link-button {
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        background-color: transparent;
        border: none;
        text-decoration: none;
        display: inline;
        margin: 0;
        padding: 0;
        font-size: inherit;
        font-weight: 600;
      }
      
      .link-button:hover,
      .link-button:focus {
        text-decoration: none;
      }
    }

    .scenario-bottom {
      margin-top: 10px;
      margin-bottom: 5px;

      .likes {
        display: flex;
        align-items: center;

        .MuiSvgIcon-root {
          font-size: 26px;
          background-color: $teal4;
          border-radius: 100px;
          padding: 5px;
        }

        .like-number {
          margin-left: 5px;
        }
      }
    }

    .actions {
      position: absolute;
      bottom: -30px;
      left: 16%;
      right: 16%;
      height: 56px;
      background-color: white;
      color: $charcoal2;

      border: 1px solid #E9EDEE;
      box-sizing: border-box;
      box-shadow: 0px 2px 8px rgba(70, 83, 89, 0.08);
      border-radius: 16px;

      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @include md {
        left: 25%;
        right: 25%;
      }
  
      > div {
        display: flex;
        align-items: center;
        cursor: pointer;
        
        .action-text {
          margin-left: 8px;
          font-weight: 600;
          font-size: 14px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
        }
      }

      .liked {
        color: $teal4;
      }
    }
  }

  .response-content {
    padding: 20px 0 7px;
    background-color: white;
  }

  .empty-responses {
    margin-top: 35px;
    min-height: 85px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: $charcoal2;
  }

  .detail-button {
    text-align: center;
    background-color: white;
    padding-bottom: 8px;

    a:link, a:visited, a:hover, a:active {
      text-decoration: none;
    }

    .MuiButton-label {
      font-weight: 600;
      font-size: 14px;
      color: $purple3;
    }
  }
}