@import '../../assets/styles/base';

.ScenarioCard {
  width: 100%;
  max-width: 792px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  overflow: hidden;

  .scenario-content {
    background-color: #004D78;
    color: white;
    padding: 0 20px 40px 20px;
    position: relative;

    .scenario-top {
      display: flex;
      justify-content: flex-end;
    }

    .scenario-mid {
      margin-bottom: 12px;
    }

    .scenario-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .likes {
        display: flex;
        align-items: center;

        .like-number {
          margin-left: 5px;
        }
      }
    }

    .actions {
      position: absolute;
      bottom: -30px;
      left: 12px;
      right: 12px;
      height: 60px;
      background-color: white;
      color: #595959;
      display: flex;
      align-items: center;
      border-radius: 100px;
      border: 1px solid #DFE9ED;
      box-sizing: border-box;
      box-shadow: 0px 2px 4px rgba(44, 53, 65, 0.1);
      display: flex;
      justify-content: space-evenly;
  
      > div {
        display: flex;
        align-items: center;
        cursor: pointer;
        
        .action-text {
          margin-left: 5px;
        }
      }

      .liked {
        color: #004D78;
      }
    }
  }

  .response-content {
    padding-top: 40px;
    background-color: white;
  }

  .detail-button {
    text-align: center;
    background-color: white;

    a:link, a:visited, a:hover, a:active {
      text-decoration: none;
    }

    .MuiButton-label {
      color: #595959;
    }
  }
}