@import '../../assets/styles/base';

.ScenarioCard {
  font-size: 18px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;

  .scenario-content {
    .scenario-post {
      font-size: 30px;
      text-align: justify;
      margin: 3vh 0;

      .scenario-text {
        margin: 0 20% 0 5%;
        margin-bottom: 2vh;
      }

      .scenario-metadata {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 5%;
  
        .scenario-signature {
          margin: 0;
        }

        .scenario-date {
          font-size: 20px;
          color: slategray;
        }
      }
    }

    .response-section {
      display: flex;
      align-items: center;
      margin: 0 3%;

      .arrow-button {
        color: $primary-color;
        min-width: 50px;
      }

      .responses {
        display: flex;
        align-items: center;
        overflow: scroll;
        width: 100%;
      }
    }

    .see-more-button {
      color: $primary-color;
      float: right;
    }
  }

  .add-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .MuiIconButton-label {
      color: $primary-color;
    }
  }

  .add-form-divider {
    margin: 10px 0;
  }

  .add-form-fields {
    margin: 10px;

    .add-form-field {
      width: 100%;
      margin: 5px;
    }
  }

  .add-form-buttons {
    display: flex;
    justify-content: flex-end;

    .MuiButton-root {
      color: $primary-color;
    }
  }
}