@import '../../assets/styles/base';

.Posts {
  background-color: $purple2;
  min-height: 100vh;
  align-content: center;

  @include md {
    padding: 16px;
  }

  &.loading {
    padding: 16px;
  }

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }

  #back-arrow {
    position: fixed;
    top: 13vh;
    left: 40px;
  }

  .loader {
    font-size: 3rem;
    margin: 50px auto;
  }
}