@import '../../assets/styles/base';

.Posts {
  background-color: $secondary-color;
  top: 10px;
  align-content: center;

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }

  #back-arrow {
    position: fixed;
    top: 13vh;
    left: 40px;
  }
}