@import '../../assets/styles/base';

.NavBar {
    width: 100%;
    padding: 5px;
    background-color: $primary-color;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
        color: white;
    }

    .logo {
        display: flex;
        align-items: center;
        padding-left: 5vw;

        .logo-image {
            height: 50px;
            filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(8deg) brightness(114%) contrast(100%);
        }
    
        .logo-text {
            margin: 10px 5px;
            font-weight: 450;
            color: white;
            display: none;

            @include lg {
                display: initial;
            }
        }
    }

    .end {
        margin-right: 1vw;

        .navbar-button {
            color: white;
        }
    }
}