@import '../../assets/styles/base';

.ResponseCard {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;

  .response-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .response-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .response-date {
      color: slategray;
    }

    .flag-icon {
      color: #595959;
    }
  }
}