@import '../../assets/styles/base';

.ResponseCard {
  margin: 3% 4.5%;
  display: flex;
  flex-direction: column;
  min-width: 91%;

  @include lg {
    min-width: 40%;
  }
  
  div.response-content {
    padding: 16px;
    display: flex;
    flex-direction: column;

    .response-metadata {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;

      .response-date {
        color: slategray;
      }
    }
  }

  .response-actions {
    border-top: 1px solid lightgray;
    padding: 0;
    justify-content: space-between;

    .liked-button {
      color: $secondary-color;
    }

    .likes-number {
      font-size: 16px;
      margin-left: 5px;
    }
  }
}

.report-dialog {
  .confirm-report-button {
    color: $primary-color;
  }

  .cancel-report-button {
    color: $secondary-color;
  }
}