@import '../../assets/styles/base';

.ResponseCard {
  display: flex;
  flex-direction: column;
  margin: 25px 20px 0;

  .response-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    .header {
      font-weight: 500;
    }

    .MuiButtonBase-root {
      padding: 0;
    }
  }

  .response-bottom {
    white-space: pre-line;
  }
}